.html, body{
    margin:0;
    padding: 0;
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}



.top-container{
    background-image: url('images/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    width:auto;
    height: 500px;
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    
}

h2{
    font-family: "Sacramento", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: 80px;
    margin-top:10%;
    margin-bottom: 0;
    color: rgb(189, 99, 99);
}

h3{
    font-family: "Garamond";
    font-size: xx-large;
    color: rgb(189, 99, 99);
    margin-bottom: 10px;
}

.mid-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.mid-container > div {
    width: fit-content;
}

.img-wrapper{
    margin-top: 30px;
    width:200px;
    border-radius: 50%;
    flex-direction: center;
    border: 5px dotted rgb(235, 145, 175);
    box-shadow: inset;
    padding: 10px;
    margin-left: -5px;
    transform: rotate(-3deg);
}

.intro{
    margin: 0;
    padding: 20px;
    line-height: 1.9;
    max-width: 600px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mid-2-section > h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;

}

.grid-container{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto auto;
    row-gap:40px;
    column-gap: 40px;
    padding: 50px;
    align-items: start; 
}

.img1, .img2{
    width: 200px;

}

.skill2 h3{
    margin-top:0;
    inline-size: 1.8;
}

.skill1 h3{
    margin-top:0;
}

.skill1 p, .skill2 p{
    margin-top: 30px;
}

.skill1, .skill2{
    text-align: left;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-wrapper{
    display: flex;
    gap: 100px;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: auto;
    height: 100px;
    color: brown;

}
.footer{
    background-color: pink;
}

.footer > p{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0;
    font-family: "Sacramento", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    color: rgb(173, 84, 68);

}

a{
    color:brown;
    text-decoration: none;
}

.separator{
    display: flex;
    justify-content: center;
    color: pink
}

.play-btn{
    margin-top: 25px;
    border: none; 
    background-color: transparent;

}

.play-btn:hover{
    transform: translateY(3px);
}

.img-play{
    width:60px;
    
}



.separator > h1{
    animation: float 3s ease 0s infinite alternate;
}

@keyframes float {
    from{
        transform: translateY(-2px);
    }
    to{
        transform: translateY(2px);
    }
    
}



.typing{
  width: 0;                
  overflow: hidden;        
  white-space: nowrap;      
  border-right: 2px solid currentColor;
  animation: typing 2s steps(19, end) forwards,
             blink .7s step-end 19s;
}

@keyframes typing {
  to { width: 19ch; } /* number of characters */
}

/* cursor blinking */
@keyframes blink {
  50% { border-color: transparent; }
}

.play-btn:active::after{
  content: "";
  position:absolute;
  width: 140px;
  height: 90px;
  left: -220px;   
  top: 350%;
  gap: 10px;
  transform: translateY(-50%);
  background: url("./images/arrow.png") no-repeat center / contain;
  animation: arrow-move 3s ease 0s infinite alternate;
}

.play-btn:active::before{
  content: attr(data-tip);
  position: absolute;


  left: -230px;       
  top: 340%;
  transform: translateY(-50%);

  background: rgba(70, 72, 61, 0.75);
  color: white;
  padding: 6px 10px;
  border-radius: 10px;
  border: 3px solid rgb(0, 0, 0);
  font-size: 12px;
  white-space: nowrap;
  font-style: italic;
}
@keyframes arrow-move {
    from{
        transform: translate(-5px);
    }
    to{
        transform: translate(5px);
    }
    
}

.cloud {
    position: relative;
    background-color: #FFE4E6;
    padding: 15px 50px;
    margin : 10px auto 20px ;
    border-radius: 20px;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: block;
    width: fit-content;
}

.cloud h3 {
    margin: 0;
    color: rgb(189, 99, 99);
}

.intro-wrapper{
    border: 3px solid rgb(235, 145, 175);
    width: fit-content;
    display: inline-block;
    border-radius: 10px;
    margin: 20px auto;
}
