.html, body{
    margin:0;
    padding: 0;
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}



.top-container{
    background-image: url('images/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    width:auto;
    height: 500px;
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    
}

h2{
    font-family: "Sacramento", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: 80px;
    margin-top:10%;
    margin-bottom: 0;
    color: rgb(189, 99, 99);
}

h3{
    font-family: "Garamond";
    font-size: xx-large;
    color: rgb(189, 99, 99);
    margin-bottom: 10px;
}

.mid-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.img-wrapper{
    margin-top: 30px;
    width:200px;
    border-radius: 50%;
    flex-direction: center;
    border: 5px dotted rgb(235, 145, 175);
    box-shadow: inset;
    padding: 10px;
    margin-left: -5px;
    transform: rotate(-3deg);
}

.intro{
    margin-left: 300px;
    margin-right: 300px;
    line-height: 1.9;
    
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mid-2-section > h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;

}

.grid-container{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto auto;
    row-gap:40px;
    column-gap: 40px;
    padding: 50px;
    align-items: start; 
}

.img1, .img2{
    width: 200px;

}

.skill2 h3{
    margin-top:0;
    inline-size: 1.8;
}

.skill1 h3{
    margin-top:0;
}

.skill1 p, .skill2 p{
    margin-top: 30px;
}

.skill1, .skill2{
    text-align: left;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-wrapper{
    display: flex;
    gap: 100px;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: auto;
    height: 100px;
    color: brown;

}
.footer{
    background-color: pink;
}

.footer > p{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0;
    font-family: "Sacramento", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    color: rgb(173, 84, 68);

}

a{
    color:brown;
    text-decoration: none;
}

.separator{
    display: flex;
    justify-content: center;
    color: pink
}