.box{
    margin:100px auto;
    width:200px;
    height:200px;
    background-color: teal;
    transition-duration: 0.3s;
    transition-property: border-radius, background-color, transform;
}

.box:hover{
    background-color: black;
    border-radius: 50%;
    transform: rotate(180deg);
}

.list{
    display: flex;
    gap:50px;
    font-size: 6rem;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.item{
    transition: 0.3s ease-in;
}

.item:hover{
    background-color: rgb(0, 0, 0);
    color:white;
    cursor: pointer;
    transform: translateY(-10px);
}