.box{
    width:200px;
    height:200px;
    border: 2px solid white;
    animation: orbit 4s linear infinite;
    border-radius: 50%;
   
}

body{
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    flex-direction: column;
    gap:100px;
}

.small-box{
    background-color: white;
    width:100px;
    height:100px;
    /* transition: 1s ease; */
    /* animation-name: orbit;
    animation-duration: 2s;
    animation-iteration-count: 3;
    animation-timing-function: linear;
    animation-fill-mode: backwards; */
    border-radius: 50%;
}

.small-box:hover{
    transform: translate(100px);
}

@keyframes circles {
    0%{
        transform: translate(0,0)
    }
    25%{
        transform: translate(100px, 0);
    }
    50%{
        transform: translate(100px, 100px);
    }
    75%{
        transform: translate(0, 100px);
    }
    
}

@keyframes slide-in {
    0%{
        transform: translate(-100px);
    }
    100%{
        transform: translate(100px);
    }

    
}

@keyframes orbit {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
    
}

.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

@keyframes up-down {
    from{
        transform: translateY(-10px);
    }
    to{
        transform: translateY(10px);
    }
    
}

.dot{
    width:20px;
    height:20px;
    border-radius: 50%;
    background-color: white;
    animation: up-down 0.8s ease 0s infinite alternate;
}

.dot:nth-child(2){
    animation-delay: 0.1s;
    background-color: black;
}

.dot:nth-child(3){
    animation-delay: 0.2s;
}

.dot:nth-child(4){
    animation-delay: 0.3s;
    background-color: black;
}